<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:annotation-config />
	<context:component-scan
		base-package="himedia.myportal.controllers">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
	</context:component-scan>

	<!-- 정적 자원의 요청을 DefaultServlet 으로 위임 -->
	<mvc:annotation-driven>
		<!-- MessageConverter 등록 -->
		<!-- 어떤 메세지를 어떻게 컨버팅 할것인가? -->
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<!-- Map 타입을 json으로 변환해주는 Jackson Converter -->
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>

			</bean>

		</mvc:message-converters>
	</mvc:annotation-driven>
	<mvc:default-servlet-handler />

	<!-- View Resolver -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="1" />
	</bean>
	
	<!-- 특정 설정 자체를 외부에서 부여해준다. -->
	<!-- 외부설정으로부터 필요한 요소들을 inject
		interceptor에선 spring 내부 bean에 접근이 가능하다.
	 -->
	<!-- Interceptors -->
	<mvc:interceptors>
		<!-- <mvc:interceptor>
			<mvc:mapping path="/board/**"/>
			<bean class="himedia.myportal.interceptors.MyInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/board/**"/>
			<bean class="himedia.myportal.interceptors.MyInterceptor2"/>
		</mvc:interceptor> -->
		<mvc:interceptor>
			<mvc:mapping path="/board/**"/>
			<!-- 특정 URL을 배제할 때 
					interceptor 적용 시키지 마라 -->
			<mvc:exclude-mapping path="/board"/>
			<mvc:exclude-mapping path="/board/"/>
			<mvc:exclude-mapping path="/board/list/**"/>
			<!-- 게시물 조회시 interceptor 작동. /users/login으로 보내준다. -->
			<bean class="himedia.myportal.interceptors.AuthInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>

</beans>
    
 